*{
  margin: 0;
  padding: 0;
  }
a{
    text-decoration:none;
  }
  li{
    text-decoretion:none;
    li
  }
  body{
    font-family: 'Sniglet', cursive;
  }
  .logo{
    background: #000;
    width: 100px;
    height: 1000px;
    margin-left: 300px;
  }

    .content{
        width:500px;
        margin-left: 500px;
    }
