.container{
  width:300px;
  height:30px;
  border:3px solid #fff;
  background-color: #039BE5;
  overflow: hidden;

  -webkit-border-radius:8px;
          border-radius: 8px;

  margin: 50px auto;
  box-shadow: 0px 3px 15px #0D47A1;
}

.bar{
  width: 400px;
  height: 30px;
  background: repeating-linear-gradient(
    45deg,rgba(255,255,255,.9) 0,
    rgba(255,255,255,.9) 5px,
    transparent 5px,transparent 10px);

    animation:loading 3s linear infinite;
}



@keyframes  loading{
  from{
    margin-left:0;

  }
  50%{
    opacity:0;
  }
  to{
    margin-left:-100px;
  }

}
