.square{
  width:80px;
  height:90px;
  margin: 30px auto;
  background-color:#8BC34A;

  animation-name: spin;

  animation-duration:1s;

//функція проходження анімації -швидкість і час
  animation-timing-function: ;

//ease,ease-in,ease-in-out
  animation-delay:1s;

//кількість циклів анімації
  animation-iteration-count: 4;

//напрямок анімації
//animation-direction: alternate-reverse;

/* визначає як має виглядати об'єкт по завершенню анімації
animation-fill-mode :
*/

//скорочена анімація
  animation:spin 2s linear 1s 4 alternate-reverse
}


/*https://matthewlein.com/tools/ceaser*/

/* префікси
-webkit-animation: spin 2s linear 1s 4 alternate-reverse;
    -moz-animation:spin 2s linear 1s 4 alternate-reverse;
      -o-animation:spin 2s linear 1s 4 alternate-reverse;
         animation:spin 2s linear 1s 4 alternate-reverse;*/

@keyframes spin{
  0%{
    transform:rotate(0deg);
  }

  50%{
    background-color:#FFEB3B;
  }

  100%{
    transform:rotate(360deg);
  }

}
