h1{
  text-align: center;
  margin: 40px 0 40px;

}
nav{
  margin: 27px auto 0;
  position: relative;
  width:590px;
  height:50px;
  background-color: #535d67;
  border-radius: 1px solid black;
  box-shadow: 2px 2px 4px #000;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size:15px;
  display:inline_block;
  position:relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  text-transform:uppercase;
  color:#fff;
  cursor:pointer;

}

nav.animation{
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition:all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1){
  width: 110px;
}
a:nth-child(2){
  width: 110px;
}
a:nth-child(3){
  width: 110px;
}
a:nth-child(4){
  width: 110px;
}
a:nth-child(5){
  width: 110px;
}

nav .start-home, a:nth-child(1):hover ~.animation{
   width:110px;
   left:0;
   background-color: #1abc9c;
}
nav .start-home, a:nth-child(2):hover ~.animation{
   width:110px;
   left:110;
   background-color: #1abc9c;
}
nav .start-home, a:nth-child(3):hover ~.animation{
   width:220px;
   left:0;
   background-color: #1abc9c;
}
nav .start-home, a:nth-child(4):hover ~.animation{
   width:330px;
   left:0;
   background-color: #1abc9c;
}
nav .start-home, a:nth-child(5):hover ~.animation{
   width:440px;
   left:0;
   background-color: #1abc9c;
}
